@model IEnumerable<TechMeetsMagic.Models.NonPlayerCharacters.NPCIndexViewModels>


    @{ int rowNumber = 1; }
    <div><a asp-action="add" asp-controller="Npc's" type="submit" class="btn btn-primary">Interact</a></div>
    <div><a asp-action="Create" asp-controller="Npc's" type="submit" class="btn btn-primary">Create NPC (Limited for now due to it being Delta version at best)</a></div>
    @* User can interact with the npc's using add function, to well start an interaction. in controller, this is called "Npc Talk" *@

    <div class="a1">Npc's Name</div>
<form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    @* Later, once images have been implementedm, add image aswell*@
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Level</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var Npc in Model)
            {
                @* Later, once images have been implemented, add image aswell*@
                <tr>
                    <td>@rowNumber</td>
                    <td>@Npc.NPCName</td>
                    <td>@Npc.NPCDescribtion</td>
                    <td>@Npc.NpcType</td>
                    <td>@Npc.NPCLevel</td>
                    <td>@Npc.NPCCurrentHP</td>
                    <td>@Npc.NPCMaxHP</td>
                </tr>
                rowNumber++;
            }
        </tbody>
        </table>
</form>